
@{
    ViewBag.Title = "ShopDunk";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<head>
    <link href="~/Content/myStyle.css"  rel="stylesheet" />
</head>
<body>
    <div id="div-header">
        <div class="header-lower">
            <div class="inner-header">
                <img src="https://shopdunk.com/static/media/0012445_Logo_ShopDunk.ccb234b234f0f4e50514.png" class="Logo" alt="Logo ShopDunk" />
                <div>
                    <nav>
                        <ul id="main-menu">
                            <li><a href="">iPhone</a></li>
                            <li><a href="">iPad</a></li>
                            <li><a href="">Mac</a></li>
                            <li><a href="">Watch</a></li>
                            <li><a href="">Âm Thanh</a></li>
                            <li><a href="">Phụ Kiện</a></li>
                            <li><a href="">Dịch Vụ</a></li>
                            <li><a href="">Tin tức</a></li>
                            <li><a href="">Khuyến mãi</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div id="banner">
        <img src="https://shopdunk.com/images/uploaded/banner/thang%209%202023/88a7eaf1ca161f484607.jpg" id="imgbanner" />
    </div>
    <div id="div-topic">
        <img src="https://shopdunk.com/images/uploaded/BONUSt7.png" alt="Alternate Text" class="size-img" />
        <img src="https://shopdunk.com/images/uploaded/Bonus%20banner-26.png" alt="Alternate Text" class="size-img" />
        <img src="https://shopdunk.com/images/uploaded/Bonus%20banner-16.png" alt="Alternate Text" class="size-img" />
    </div>
    @*IPhone*@
    <div id="iphone-item">
        <h2 id="title" style="text-align:center">iPhone</h2>
        <div id="div-pro-list">
            <div class="pro-box">
                <img src="~/Pictures/chao-tan-sv.png" class="img-title" />
                <img src="~/Pictures/ip14prm.png" class="img-ip" />
                <div class="box-description">
                    <a class="title-items"><h3 style="color:black">iPhone 14 Pro Max 128GB</h3></a>
                    <div id="price">
                        <span class="price-new">26.150.000₫</span>
                        <span class="price-old">34.990.000₫</span>
                        <span class="price-ratio">-25%</span>
                    </div>
                </div>
            </div>
            <div class="pro-box">
                <img src="~/Pictures/chao-tan-sv.png" class="img-title" />
                <img src="~/Pictures/ip14pr.png" class="img-ip" />
                <div class="box-description">
                    <a class="title-items"><h3 style="color:black">iPhone 14 Pro 128GB</h3></a>
                    <div id="price">
                        <span class="price-new">23.890.000₫</span>
                        <span class="price-old">30.990.000₫</span>
                        <span class="price-ratio">-22%</span>
                    </div>
                </div>
            </div>
            <div class="pro-box">
                <img src="~/Pictures/new.png" class="img-title" />
                <img src="~/Pictures/ip15.png" class="img-ip" />
                <div class="box-description">
                    <a class="title-items"><h3 style="color:black">iPhone 15 128GB</h3></a>
                    <div>
                        <span class="price-new">22.990.000₫</span>
                        <span class="price-old"></span>
                        <span class="price-ratio"></span>
                    </div>
                </div>
            </div>
            <div class="pro-box">
                <img src="~/Pictures/new.png" class="img-title" />
                <img src="~/Pictures/ip15prm.png" class="img-ip" />
                <div class="box-description">
                    <a class="title-items"><h3 style="color:black">iPhone 15 Pro Max 256GB</h3></a>
                    <div>
                        <span class="price-new">34.999.000₫</span>
                        <span class="price-old"></span>
                        <span class="price-ratio"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="show-all">
        <a href="#">Xem tất cả iPhone</a>
    </div>
    @*IPad*@
    <div id="iphone-item">
        <h2 id="title" style="text-align:center">iPad</h2>
        <div id="div-pro-list">
            <div class="pro-box">
                <img src="~/Pictures/xatonkho.png" class="img-title" />
                <img src="~/Pictures/ipadair4.png" class="img-ip" />
                <div class="box-description">
                    <a class="title-items"><h3 style="color:black">iPad Air 4</h3></a>
                    <div id="price">
                        <span class="price-new">14.990.000₫</span>
                        <span class="price-old">19.990.000₫</span>
                        <span class="price-ratio">-25%</span>
                    </div>
                </div>
            </div>
            <div class="pro-box">
                <img src="~/Pictures/xatonkho.png" class="img-title" />
                <img src="~/Pictures/ipadgen9.png" class="img-ip" />
                <div class="box-description">
                    <a class="title-items"><h3 style="color:black">iPad gen 9 10.2 inch WiFi 64GB</h3></a>
                    <div id="price">
                        <span class="price-new">6.890.000₫</span>
                        <span class="price-old">9.990.000₫</span>
                        <span class="price-ratio">-31%</span>
                    </div>
                </div>
            </div>
            <div class="pro-box">
                <img src="~/Pictures/new.png" class="img-title" />
                <img src="~/Pictures/ipadprm2.png" class="img-ip" />
                <div class="box-description">
                    <a class="title-items"><h3 style="color:black">iPad Pro M2 11 inch WiFi 128GB</h3></a>
                    <div>
                        <span class="price-new">22.190.000₫</span>
                        <span class="price-old">23.990.000₫</span>
                        <span class="price-ratio">-15%</span>
                    </div>
                </div>
            </div>
            <div class="pro-box">
                <img src="~/Pictures/xatonkho.png" class="img-title" />
                <img src="~/Pictures/ipadprm1.png" class="img-ip" />
                <div class="box-description">
                    <a class="title-items"><h3 style="color:black">iPad Pro M1 12.9 inch WiFi Cellular 512GB</h3></a>
                    <div>
                        <span class="price-new">35.450.000₫</span>
                        <span class="price-old">42.990.000₫</span>
                        <span class="price-ratio">-17%</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="show-all">
        <a href="#">Xem tất cả iPad</a>
    </div>
    @*Mac*@
    <div id="iphone-item">
        <h2 id="title" style="text-align:center">Mac</h2>
        <div id="div-pro-list">
            <div class="pro-box">
                <img src="~/Pictures/chao-tan-sv.png" class="img-title" />
                <img src="~/Pictures/0000723_macbook-air-m1-2020-8gb-ram-256gb-ssd_240.png" class="img-ip" />
                <div class="box-description">
                    <a class="title-items"><h3 style="color:black">MacBook Air M1 2020 (8GB RAM | 256GB SSD)</h3></a>
                    <div id="price">
                        <span class="price-new">18.690.000₫</span>
                        <span class="price-old">28.990.000₫</span>
                        <span class="price-ratio">-35%</span>
                    </div>
                </div>
            </div>
            <div class="pro-box">
                <img src="~/Pictures/chao-tan-sv.png" class="img-title" />
                <img src="~/Pictures/0008502_macbook-air-m2-2022-8gb-ram-256gb-ssd_240.png" class="img-ip" />
                <div class="box-description">
                    <a class="title-items"><h3 style="color:black">MacBook Air M2 2022 (8GB RAM | 256GB SSD)</h3></a>
                    <div id="price">
                        <span class="price-new">26.590.000₫</span>
                        <span class="price-old">32.990.000₫</span>
                        <span class="price-ratio">-19%</span>
                    </div>
                </div>
            </div>
            <div class="pro-box">
                <img src="~/Pictures/chao-tan-sv.png" class="img-title" />
                <img src="~/Pictures/0008682_macbook-pro-13-inch-m2-10-core-8gb-ram-256gb-ssd_240.png" class="img-ip" />
                <div class="box-description">
                    <a class="title-items"><h3 style="color:black">MacBook Pro 13 inch M2 (10 core| 8GB RAM| 256GB SSD)</h3></a>
                    <div>
                        <span class="price-new">29.990.000₫</span>
                        <span class="price-old">35.000.000₫</span>
                        <span class="price-ratio">-19%</span>
                    </div>
                </div>
            </div>
            <div class="pro-box">
                <img src="~/Pictures/san-hang-n.png" class="img-title" />
                <img src="~/Pictures/0011267_macbook-pro-14-inch-m2-pro-16-core-16gb-512gb_240.png" class="img-ip" />
                <div class="box-description">
                    <a class="title-items"><h3 style="color:black">MacBook Pro 14 inch M2 Pro (16 Core| 16GB| 512GB)</h3></a>
                    <div>
                        <span class="price-new">36.590.000₫</span>
                        <span class="price-old">55.000.000₫</span>
                        <span class="price-ratio">-15%</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="show-all">
        <a href="#">Xem tất cả Mac</a>
    </div>
    @*Watch*@
    <div id="iphone-item">
        <h2 id="title" style="text-align:center">Watch</h2>
        <div id="div-pro-list">
            <div class="pro-box">
                <img src="~/Pictures/xatonkho.png" class="img-title" />
                <img src="~/Pictures/0001025_apple-watch-series-7-nhom-gps_240.png" class="img-ip" />
                <div class="box-description">
                    <a class="title-items"><h3 style="color:black">Apple Watch Series 7 Nhôm GPS</h3></a>
                    <div id="price">
                        <span class="price-new">7.990.000₫</span>
                        <span class="price-old">11.990.000₫</span>
                        <span class="price-ratio">-35%</span>
                    </div>
                </div>
            </div>
            <div class="pro-box">
                <img src="~/Pictures/chao-tan-sv.png" class="img-title" />
                <img src="~/Pictures/0000896_apple-watch-se-nhom-gps_240.png" class="img-ip" />
                <div class="box-description">
                    <a class="title-items"><h3 style="color:black">Apple Watch SE Nhôm 2022 GPS</h3></a>
                    <div id="price">
                        <span class="price-new">5.890.000₫</span>
                        <span class="price-old">8.990.000₫</span>
                        <span class="price-ratio">-34%</span>
                    </div>
                </div>
            </div>
            <div class="pro-box">
                <img src="~/Pictures/chao-tan-sv.png" class="img-title" />
                <img src="~/Pictures/0000897_apple-watch-series-3-nhom_240.png" class="img-ip" />
                <div class="box-description">
                    <a class="title-items"><h3 style="color:black">Apple Watch Series 3 Nhôm</h3></a>
                    <div>
                        <span class="price-new">3.990.000₫</span>
                        <span class="price-old">5.990.000₫</span>
                        <span class="price-ratio">-33%</span>
                    </div>
                </div>
            </div>
            <div class="pro-box">
                <img src="~/Pictures/chao-tan-sv.png" class="img-title" />
                <img src="~/Pictures/0008913_apple-watch-ultra-lte-49mm-alpine-loop-size-s_240.png" class="img-ip" />
                <div class="box-description">
                    <a class="title-items"><h3 style="color:black"> Apple Watch Ultra LTE 49mm Alpine Loop size S</h3></a>
                    <div>
                        <span class="price-new">19.990.000₫</span>
                        <span class="price-old">23.990.000₫</span>
                        <span class="price-ratio">-16%</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="show-all">
        <a href="#">Xem tất cả Watch</a>
    </div>
    @*Âm thanh*@
    <div id="iphone-item">
        <h2 id="title" style="text-align:center">Âm thanh</h2>
        <div id="div-pro-list">
            <div class="pro-box">
                <img src="" class="img-title" />
                <img src="~/Pictures/0000211_airpods-pro-2_240.png" class="img-ip" />
                <div class="box-description">
                    <a class="title-items"><h3 style="color:black">AirPods Pro 2</h3></a>
                    <div id="price">
                        <span class="price-new">5.790.000₫</span>
                        <span class="price-old">6.790.000₫</span>
                        <span class="price-ratio">-14%</span>
                    </div>
                </div>
            </div>
            <div class="pro-box">
                <img src="" class="img-title" />
                <img src="~/Pictures/0012005_airpods-max_240.png" class="img-ip" />
                <div class="box-description">
                    <a class="title-items"><h3 style="color:black">AirPods Max</h3></a>
                    <div id="price">
                        <span class="price-new">12.590.000₫</span>
                        <span class="price-old">13.990.000₫</span>
                        <span class="price-ratio">-10%</span>
                    </div>
                </div>
            </div>
            <div class="pro-box">
                <img src="" class="img-title" />
                <img src="~/Pictures/0006057_tai-nghe-apple-airpods-3-sac-co-day-lightning_240.jpeg" class="img-ip" />
                <div class="box-description">
                    <a class="title-items"><h3 style="color:black"> Tai nghe Apple AirPods 3 sạc có dây Lightning</h3></a>
                    <div>
                        <span class="price-new">3.990.000₫</span>
                        <span class="price-old">5.990.000₫</span>
                        <span class="price-ratio">-27%</span>
                    </div>
                </div>
            </div>
            <div class="pro-box">
                <img src="" class="img-title" />
                <img src="~/Pictures/0015612_airpods-2_240.png" class="img-ip" />
                <div class="box-description">
                    <a class="title-items"><h3 style="color:black">AirPods 2</h3></a>
                    <div>
                        <span class="price-new">2.590.000₫</span>
                        <span class="price-old">4.390.000₫</span>
                        <span class="price-ratio">-41%</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="show-all">
        <a href="#">Xem tất cả Âm thanh</a>
    </div>
    @*Phụ kiện*@
    <div id="iphone-item">
        <h2 id="title" style="text-align:center">Phụ kiện</h2>
        <div id="div-pro-list">
            <div class="pro-box">
                <img src="" class="img-title" />
                <img src="~/Pictures/0001395_sac-20w-usb-c-power-adapter_240.png" class="img-ip" />
                <div class="box-description">
                    <a class="title-items"><h3 style="color:black">Sạc 20W USB-C Power Adapter</h3></a>
                    <div id="price">
                        <span class="price-new">510.000₫</span>
                        <span class="price-old">690.000₫</span>
                        <span class="price-ratio">-26%</span>
                    </div>
                </div>
            </div>
            <div class="pro-box">
                <img src="" class="img-title" />
                <img src="~/Pictures/0001421_magic-mouse-2_240.jpeg" class="img-ip" />
                <div class="box-description">
                    <a class="title-items"><h3 style="color:black">Magic Mouse 2</h3></a>
                    <div id="price">
                        <span class="price-new">1.400.000₫</span>
                        <span class="price-old">2.990.000₫</span>
                        <span class="price-ratio">-53%</span>
                    </div>
                </div>
            </div>
            <div class="pro-box">
                <img src="" class="img-title" />
                <img src="~/Pictures/0001742_iphone-14-pro-max-leather-case-with-magsafe_240.jpeg" class="img-ip" />
                <div class="box-description">
                    <a class="title-items"><h3 style="color:black">iPhone 14 Pro Max Leather Case With Magsafe</h3></a>
                    <div>
                        <span class="price-new">790.000₫</span>
                        <span class="price-old">1.790.000₫</span>
                        <span class="price-ratio">-55%</span>
                    </div>
                </div>
            </div>
            <div class="pro-box">
                <img src="~/Pictures/new.png" class="img-title" />
                <img src="~/Pictures/0010774_pencil-1-2022_240.png" class="img-ip" />
                <div class="box-description">
                    <a class="title-items"><h3 style="color:black">Pencil 1 (2022)</h3></a>
                    <div>
                        <span class="price-new">2.490.000₫</span>
                        <span class="price-old">2.990.000₫</span>
                        <span class="price-ratio">-16%</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="show-all" style="padding-bottom:40px">
        <a href="#">Xem tất cả Phụ kiện</a>
    </div>
    <div>
        <a href="#" id="banner2">
            <img src="~/Pictures/banner2.jpeg" />
        </a>
    </div>
                                @*Tin tức*@
    <div id="iphone-item">
        <h2 id="title" style="text-align:center">Tin tức</h2>
        <div id="div-pro-list">
            <div class="pro-box-tt">
                <img src="~/Pictures/0021568_iphone-15-xam-titan_1600.jpeg" class="img-tt" />
                <div class="box-description">
                    <a ><h3 class="new-head" style="color:black">[HOT] iPhone 15 Titan tự nhiên lần đầu xuất hiện, diện mạo cực COOL</h3></a>
                    <div id="price">             
                        <span class="date-tt">19/09/2023</span>
                    </div>
                </div>
            </div>
            <div class="pro-box-tt">
                <img src="~/Pictures/0019485_khach-hang-can-tham-khao-cac-cong-ty-tai-chinh-lien-ket-voi-don-vi-ban-de-tham-khao-ve-lai-suat-va-q_1600.jpeg" class="img-tt" />
                <div class="box-description">
                    <a ><h3 class="new-head" style="color:black">Cách tính trả góp điện thoại iPhone: Đơn giản như “ăn kẹo”</h3></a>
                    <div id="price">
                        <span class="date-tt">19/09/2023</span>
                    </div>
                </div>
            </div>
            <div class="pro-box-tt">
                <img src="~/Pictures/0021489_iphone-15-dap-hop-gia-bao-nhieu_1600.png" class="img-tt" />
                <div class="box-description">
                    <a><h3 class="new-head" style="color:black">[HOT] iPhone 15 đập hộp giá bao nhiêu? Giá không tăng?</h3></a>
                    <div>
                        <span class="date-tt">19/09/2023</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="show-all" style="padding-bottom:40px">
        <a href="#">Xem tất cả Tin tức</a>
    </div>
    <div class="dangki">
        <div class="heading-dknt">Đăng ký nhận tin từ ShopDunk</div>
        <p>Thông tin sản phẩm mới nhất và chương trình khuyến mãi</p>
        <div class="newLetterEmail">
            <input class="input-email" placeholder="Email của bạn" type="email" name="" value="" />
            <button type="button">Đăng kí</button>
        </div>
    </div>
<div class="footer">
    <div class="footer-upper">
        <div class="footer-block follow-us">
            <div class="header-logo">
                <a href=""> 
                    <img src="https://shopdunk.com/images/thumbs/0012445_Logo_ShopDunk.png" ">
                </a>
            </div>
            <div class="topic-block">
                <div class="topic-block-body">
                    <p class="ft_gioithieu">Năm 2020, ShopDunk trở thành đại lý ủy quyền của Apple. Chúng tôi phát triển chuỗi cửa hàng tiêu chuẩn và Apple Mono Store nhằm mang đến trải nghiệm tốt nhất về sản phẩm và dịch vụ của Apple cho người dùng Việt Nam.</p>
                </div>
            </div>
            <div class="social">
                <div class="title">
                    <strong></strong>
                </div>
            <ul class="networks">
                <li class="facebook"><a href="" target="_blank" rel="noopener noreferrer"><img src="https://shopdunk.com/Themes/SD/Content/images/Face.png"></a></li>
                <li class="twitter"><a href="" target="_blank" rel="noopener noreferrer"><img src="~/Pictures/Youtube.png"></a></li>
                <li class="rss"><a href=""><img src="~/Pictures/Zalo.png"></a></li>
            </ul>
            </div>
        </div>
    </div>
</div>
</body>

